.home {
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.home__title {
    text-align: center;
    font-size: 3rem;
}

.home__subtitle {
    text-align: center;
    font-size: 2rem;
}

.home__main-catch {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    margin: 0 32px;
}

.home__main-catch img {
    max-width: 800px;
    border-radius: 4px;
}

.home__description {
    max-width: 600px;
    text-align: center;
}

.home__highlights {
    display: grid;
    grid-template-columns: repeat(3, minmax(256px, 1fr));
    gap: 32px;
    max-width: 1000px;
    margin: 0 auto;
}

.highlight-container {
    display: flex;
    flex-direction: column;
    gap: 128px;
    background: rgba(0, 0, 0, 0.2);
    width: 100vw;
    padding: 64px;
}

.highlight__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.highlight__item img {
    color: black;
    width: 96px;
    height: 96px;
    filter: invert();
}

.highlight__title {
    font-size: 1.5rem;
    max-width: 300px;
    text-align: center;
    padding-bottom: 16px;
    height: 4.5rem;
}

.highlight__description {
    font-size: 1.0rem;
    max-width: 300px;
    text-align: center;
}

.home__features {
    display: flex;
    flex-direction: column;
    gap: 64px;
    max-width: 1000px;
    margin: 32px auto;
    padding: 0 32px;
}

.feature__item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content auto;
    gap: 32px;
    align-items: start;
    grid-template-areas: 'image title' 'image description';
}

.feature__item--odd {
    grid-template-areas: 'title image' 'description image';
}

.feature__image {
    grid-area: image;
    overflow: visible;
    margin: 0 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.feature__image img {
    max-width: 100%;
    max-height: 300px;
    transition: transform 0.3s;
    border-radius: 4px;
}

.feature__title {
    grid-area: title;
    font-size: 2rem;
    text-align: center;
}

.feature__description {
    grid-area: description;
    text-align: center;
}

@media (max-width: 600px) {
    .home__highlights {
        justify-content: center;
        grid-template-columns: 1fr;
        grid-gap: 64px;
    }

    .feature__item,
    .feature__item--odd {
        grid-template-areas: 'image' 'title' 'description';
        grid-template-columns: 1fr;
    }
}
