{% extends "partials/page.html" %}
{% block head %}
<title>Mizer</title>
{% endblock %}
{% block content %}
<div class="home">
    <div class="home__main-catch">
        <h1 class="home__title">Mizer</h1>
        <p class="home__description">
            A visualization software for live events like concerts and club gigs with a node based workflow.
        </p>
        <img src="/assets/images/layout.png" width="100%"/>
    </div>
    <h2 class="home__subtitle">Highlights</h2>
    <div class="home__highlights">
        {% for highlight in highlights %}
        <div class="highlight__item">
            <div class="highlight__image">
                <img src="{{ highlight.image }}" alt="{{ highlight.title }}"/>
            </div>
            <p class="highlight__title">{{ highlight.title }}</p>
        </div>
        {% endfor %}
    </div>
    <h2 class="home__subtitle">Features</h2>
    <div class="home__features">
        {% for feature in features %}
        <div class="feature__item {% if loop.index % 2 == 0 %}feature__item--odd{% endif %}">
            <div class="feature__image">
                <img src="{{ feature.image }}" alt="{{ feature.title }}"/>
            </div>
            <p class="feature__title">{{ feature.title }}</p>
            <p class="feature__description">{{ feature.description }}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
